/node_modules
/public/storage
/storage/*.key
/vendor
/.idea
Homestead.json
Homestead.yaml
.env
/config/laravel-analytics.php
/laravel-google-analytics
!/app/laravel-google-analytics/service-account-credentials.json
